<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<style>
  
  .bg-custom{
    background-color: black;
    }


  </style>
</head>
<body>
  <nav class="navbar navbar-expand-sm  bg-custom ">
    <h1 style="margin-left: 60px;font-family: 'Courier New', Courier, monospace;font-weight: bolder;color: cadetblue;">MediMeet</h1>
    <div class="collapse navbar-collapse justify-content-end" style="margin-right: 50px;">
      <ul class="navbar-nav">
        <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link" style="font-size: 31px;font-weight: bold;color: #dde1e7;font-family: 'Courier New', Courier, monospace;" href="/">Home</a>
        </li>
        <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link" style="font-size: 31px;font-weight: bold;color: #dde1e7;font-family: 'Courier New', Courier, monospace;" href="/adminLogin">Admin</a>
        </li>
        <li class="nav-item" style="margin-right: 50px;">
          <a class="nav-link" style="font-size: 31px;font-weight: bold;color: #dde1e7;font-family: 'Courier New', Courier, monospace;" href="/doctorLogin">Doctor</a>
        </li>
        <li class="nav-item" style="margin-right: 45px;">
          <a class="nav-link" style="font-size: 31px;font-weight: bold;color: #dde1e7;font-family: 'Courier New', Courier, monospace;" href="/userLogin" >Patient</a>
        </li>    
      </ul>
    </div>
  </nav>
</body>
