<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
  <style>
    .bg-custom{
    background-color: #010206;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-custom">
      <h3 class="navbar-brand" style="margin-left: 30px;font-family: cursive;font-size: x-large;color: cadetblue;"> </h3>
      <div class="collapse navbar-collapse justify-content-end" style="margin-right: 50px;">
        <ul class="navbar-nav" >
          <li class="nav-item" style="margin-right: 60px;">
            <a class="nav-link" style="font-size: x-large;font-weight: bold;" href="/userHome">Home</a>
          </li>
          <!-- <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link" style="font-size: x-large;font-weight: bold;" href="/elearningSelect">E-Learning</a>
          </li> -->

          <li class="nav-item" >
            <a class="nav-link" style="margin-right: 60px;font-size: x-large;font-weight: bold;" href="/">Logout</a>
          </li>  
        </ul>
      </div>
    </nav>
  </body>
  